<h1>Pets</h1>

<% @pets.each do |pet| %>
  <h2>Name: <%= pet.name %></h2>
  <%= image_tag(pet.image, :alt => "#{pet.name} image") %>
  <p>Approximate Age: <%= pet.approximate_age %> </p>
  <p>Sex: <%= pet.sex %> </p>
  <p>Current Shelter: <%= pet.shelter.name %> </p>

<% end %>
