<% if @shelter && @pets.empty? %>
<p> Number of Pets: <%= @shelter.pets.pet_count %> </p>

  <h1> <%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %> Pets </h1>
  <%= link_to 'Add Pet', "/shelters/#{@shelter.id}/pets/new" %>

<% elsif @shelter %>
<p> Number of Pets: <%= @shelter.pets.pet_count %> </p>
  <h1> <%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %> Pets </h1>
    <% @shelter_id = @pets.first.shelter_id %>
    <% @pets.each do |pet| %>
      <section id=<%= "#{pet.id}"%>>
      <h2>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
      <%= image_tag(pet.image, :alt => "#{pet.name} image") %>
      <p>Approximate Age: <%= pet.approximate_age %> </p>
      <p>Sex: <%= pet.sex %> </p>
      <%= link_to 'Edit Pet', "/pets/#{pet.id}/edit", method: :get %>
      <%= button_to 'Delete Pet', "/pets/#{pet.id}", method: :delete %>

      </section>
    <% end %>
  <%= link_to 'Add Pet', "/shelters/#{@shelter_id}/pets/new" %>

  <% elsif  %>
    <h1>All Pets</h1>
      <% @pets.each do |pet| %>
      <section id=<%= "#{pet.id}"%>>
        <h2>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
        <%= image_tag(pet.image, :alt => "#{pet.name} image") %>
        <p>Approximate Age: <%= pet.approximate_age %> </p>
        <p>Sex: <%= pet.sex %> </p>
        <p>Current Shelter: <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %> </p>
        <%= link_to 'Edit Pet', "/pets/#{pet.id}/edit", method: :get %>
        <%= button_to 'Delete Pet', "/pets/#{pet.id}", method: :delete %>

      </section>
      <% end %>

<% end %>
